@model ReportDeport.Models.template

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.template1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.template1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.template2.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.template2.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.template11.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.template11.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.template3.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.template3.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.templateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
