@model ReportDeport.Models.columnItemList

@{
    ViewBag.Title = "Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Select Report Fields</h2>
<table>
    @using (Html.BeginForm("Index", "templates"))
    {
        @Html.TextBoxFor(m => Model.columns[0].ReportName)

        for (int i = 0; i < Model.columns.Count; i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(m => Model.columns[i].IsChecked)
                    @Model.columns[i].ColumnName
                    @Html.HiddenFor(m => Model.columns[i].ColumnId)
                    @Html.HiddenFor(m => Model.columns[i].ColumnName)
                </td>
            </tr>
        }
    }
</table>
<input type="submit" value="Continue">