@model ReportDeport.Models.columnItemList

@{
    ViewBag.Title = "Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Select Report Fields</h2>

<hr>

@using (Html.BeginForm("Index", "templates"))
{

<div class="form-group">
    @Html.LabelFor(model => model.columns[0].ReportName, "Report Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.columns[0].ReportName, new { htmlAttributes = new { @class = "form-control" } })
        <p style="color:red">@ViewBag.Error</p>
    </div>
</div>

<hr>
<hr>
<hr>

    <table>
        @for (int i = 0; i < Model.columns.Count; i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(m => Model.columns[i].IsChecked)
                    @Model.columns[i].ColumnName
                    @Html.HiddenFor(m => Model.columns[i].ColumnId)
                    @Html.HiddenFor(m => Model.columns[i].ColumnName)
                </td>
            </tr>
        }

    </table>
        <input type="submit" value="Continue" class="btn btn-default" }>
}