@model ReportDeport.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@Styles.Render("~/Content/SiteStyles.css")






<div style="text-align:center; display:none;">
    <img src="~/Content/images/logo.png">
</div>
<div class="container" style="margin-top: 4%;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login" style="box-shadow: 0px 1px 0px rgba(0,0,0,0.3) !important;">
                <div class="panel-heading">
                    <div class="row">
                        <img src="~/Content/images/hubblestudios.png">
                        <h4 style="margin-left: 8px;margin-top: -54px;color: #080860;">Report Depot</h4>

                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <section id="loginForm">

                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4>Register a new account.</h4>
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" }) <p style="margin-left:4px;font-style: italic;">Suggestion: Copy down your password to remember it after accounts gets approved.<p/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-primary" value="Register" />
                                        </div>
                                    </div>
                                }
                            </section>
                            <form id="register-form" action="http://phpoll.com/register/process" method="post" role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                            
                                        </div>
                                      
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
