@using ReportDeport.Models


@model ReportDeport.Models.allModels
@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/SiteStyles.css")

<h2>Download Preview</h2>
<hr>

<div class="col-md-2">
    <label>Courses</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#course_table">Preview/Hide</a><br/>
<div class="container collapse" id="course_table" >
   
    <table class="table table-responsive">
        <thead>
            <tr>
                
                        @for (int i = 0; i < Model.columnTrans.Count; i++)
                        {
                            if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                            {
                                <th>@Model.columnTrans[i].userColumnName</th>
                            }

                        }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        

                    </tr>
                }
            }
        </tbody>
    </table>
    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>



<div class="col-md-2">
    <label>Course Categories</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#course_categories_table">Preview/Hide</a><br />
<div class="container collapse" id="course_categories_table">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course_categories"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.categories)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                       
                        <td>
                            @item.name
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.description
                        </td>
                        <td>
                            @item.coursecount
                        </td>
                        
                       
                      
                        <td>
                            @item.timemodified
                        </td>
                        

                    </tr>
                }
            }
        </tbody>
       
    </table>
    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
        <label>Enrolments</label> 
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#enrol_table">Preview/Hide</a><br />
<div class="container collapse" id="enrol_table">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("enrol"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.enrol)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.enrolstartdate
                        </td>
                        <td>
                            @item.enrolenddate
                        </td>
                        <td>
                            @item.courseId
                        </td>
                        
                        

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>


<div class="col-md-2">
            <label>Questions</label> 
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#questions_table">Preview/Hide</a><br />
<div class="container collapse" id="questions_table">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("enrol"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.enrol)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.enrolId
                        </td>
                        <td>
                            @item.enrol1
                        </td>
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.enrolstartdate
                        </td>
                        <td>
                            @item.enrolenddate
                        </td>


                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
        <label>Question Answers</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#questions_answers_table">Preview/Hide</a><br />
<div class="container collapse" id="questions_answers_table">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
    <label>Question attempt steps</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#question_attempt_steps">Preview/Hide</a><br />
<div class="container collapse" id="question_attempt_steps">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
    <label>Question attempts</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#question_attemts">Preview/Hide</a><br />
<div class="container collapse" id="question_attemts">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
    <label>Question categories</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#question_categories">Preview/Hide</a><br />
<div class="container collapse" id="question_categories">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
    <label>Quiz</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#quiz">Preview/Hide</a><br />
<div class="container collapse" id="quiz">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
    <label>Quiz attempts</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#quiz_attempts">Preview/Hide</a><br />
<div class="container collapse" id="quiz_attempts">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
    <label>Quiz grades</label>
</div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#quiz_grades">Preview/Hide</a><br />
<div class="container collapse" id="quiz_grades">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

<div class="col-md-2">
    <label>Quiz slots</label>
    </div><a href="#" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#quiz_slots">Preview/Hide</a><br />
<div class="container collapse" id="quiz_slots">
    <table class="table table-responsive">
        <thead>
            <tr>

                @for (int i = 0; i < Model.columnTrans.Count; i++)
                {
                    if (Model.columnTrans[i].columnDirectory.Split(Convert.ToChar("."))[0].Equals("course"))
                    {
                        <th>@Model.columnTrans[i].userColumnName</th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.courses)
                {
                    <tr style="background-color:rgba(51, 153, 243, 0.36)">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>

    
