@using ReportDeport.Models
@model IEnumerable<ReportDeport.Models.CourseViewModel>
@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/SiteStyles.css")

<a>@Html.ActionLink("Course", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
                      
<a>@Html.ActionLink("Quiz", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
        
<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Category ID</th>
                <th>Fullname</th>
                <th>Shortname</th>
                <th>ID number</th>
                <th>Start date</th>
                <th>Visible</th>
                <th>Time Created</th>
                <th>Time modified</th>
                <th>Enable completion</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr style="background-color:grey">
                        <td>
                            @item.courseId
                        </td>
                        <td>
                            @item.categoryId
                        </td>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @item.shortname
                        </td>
                        <td>
                            @item.idnumber
                        </td>
                        <td>
                            @item.startdate
                        </td>
                        <td>
                            @item.visible
                        </td>
                        <td>
                            @item.timecreated
                        </td>
                        <td>
                            @item.timemodified
                        </td>
                        <td>
                            @item.enablecompletion
                        </td>
                       
                    </tr>
                }
            }
        </tbody>
    </table>
    <a href="@Url.Action("ExportToExcel","Home")">Download</a>
</div>                