@model ReportDeport.Models.columnItemList

@{
    ViewBag.Title = "Pending Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
</style>
<h2 style="margin-top: 4%;"><span class="glyphicon glyphicon-user"></span> Users</h2>


@if (Model.columns != null) { <p>Pending(@Model.columns.Count) </p>} else { <p>Pending(0)</p> }

@using (Html.BeginForm("ManageUsers", "Home"))
{
    <br>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search users by organization name" title="Type in a name">
    <div style="overflow-y: auto; max-height: 302px;">
        <table id="myTable" style="max-height: 10px !important; overflow-y: scroll !important;">
            <tr class="header">

                <th style="display: inline-flex;background: linear-gradient(to right, rgba(35, 50, 103, 0.9) 43%, #f1f1f1 43%);"><input type="checkbox" id="checkbox-" onclick="toogle(this, @Model.columns.Count)" style="margin-top:8px !important" /> <p style="font-size: 12px; color: #b5aeae; margin-bottom: 0; line-height: 25px;    margin-left: 8px;">Select All</p> <span style="margin-left:22px">Email Address</span></th>

                <th>Organization</th>
            </tr>


            @if (Model != null)
            {
                for (int i = 0; i < Model.columns.Count; i++)
                {
                    <tr>


                        <td>
                            @Html.CheckBoxFor(m => Model.columns[i].IsChecked, new { id = "checkbox-" + i })
                            @Model.columns[i].ColumnName
                            @Html.HiddenFor(m => Model.columns[i].ColumnName)
                        </td>

                        <td>@Html.DisplayTextFor(m => Model.columns[i].ReportName)</td>
                    </tr>
                }
            }

        </table>
    </div>
        <br>
        <input type="submit" value="Approve" class="btn btn-default">
}



<script>


            function myFunction() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }

            }


            function toogle(source, num) {
                var i;
                if (source.checked == true) {
                    for (i = 0; i < num; i++) {
                        document.getElementById("checkbox-" + i).checked = true;
                    }
                }
                else {
                    for (i = 0; i < num; i++) {
                        document.getElementById("checkbox-" + i).checked = false;
                    }
                }

            }



</script>
